body{
	overflow-x: hidden;
}
.container{
	font-size: 0;
	z-index: 1;
}
header, h1, h3{
	background-color: #5C8533;
}
header, .center-column, section, footer{
	font-size: 15px;
}
header{
	border-bottom: 1px solid #4A6B29;
	box-shadow: 0 2px 5px #333333;
	font-family: 'Great Vibes', Arial, cursive;
	text-align: center;
}
.logo{
	height: 5vh;
	margin-top: 0.3vh;
	padding-right: 1.5vw;
}
h1{
	font-size: 2.75em;
	margin: 0;
	padding: 1.6vh;
}
.aside{
	font-size: .66em;
	padding-left: 1.5vw;
}
.center-column{
	display: inline-block;
}
.center-column{
	height: 82vh;
	margin-left: 33vw;
	width: 57.7vw;
}
h3{
	border-bottom: 1px solid #4A6B29;
	font-family: 'Josefin Slab', serif;
	font-size: 2em;
	line-height: 1.2em;
	margin: 0;
	padding: 1vh 0;
	text-align: center;
}
.bio, .contact, .img-gallery, .lists{
	box-shadow: 2px 2px 5px #222222;
}
.bio, .contact{
	height: 28.85vh;
	margin-top: 8.3vh;
}
.bio, .contact, .img-gallery, .lists{
	background-color: #E2D4B8;
}
p, ul{
	border-top: 1px solid #EFE0C2;
	font-family: 'Droid Serif', serif;
}
p{
	line-height: 1.5;
	margin: 0;
	padding: 2vh 2vw;
}
section{
	margin: 7vh 0  7vh 8.3vw;
}
.img-gallery{
	width: 82.5vw;
}
.gallery-text{
	text-align: center;
}
.img{
	background-color: #000000;
	display: inline-block;
	height: 14vw;
	margin-top: 2.25vh;
	margin-bottom: 20px;
	margin-left: 1.75vw;
	overflow: hidden;
	vertical-align: top;
	width: 14vw;
	z-index: 1;
}
.img-filter{
	background-color: #000000;
	height: 100%;
	opacity: 0.35;
	width: 100%;
}
.img-filter:hover{
	opacity: 0;
}
.full-guitar{
	background-image: url('../images/full-guitar.jpg');
	background-position: center;
}
.head-stock{
	background-image: url('../images/head-stock.jpg');
	background-position: center;
}
.full-body-back{
	background-image: url('../images/full-body-back.jpg');
	background-position: center;
}
.back-underside{
	background-image: url('../images/back-underside.jpg');
	background-position: center;
}
.jigged-bass{
	background-image: url('../images/jigged-bass.jpg');
	background-position: center;
}
.lists{
	display: inline-block;
	line-height: 1.5;
	margin: 0;
	vertical-align: top;
	width: 16.3vw;
}
h4{
	margin: 0;
}
ul{
	display: inline-block;
	list-style-image: url('../images/guitarPick.svg');
	margin: 0;
	padding-top: 2vh;
	padding-right: 1.5vw;
	padding-left: 2.25vw;
	padding-bottom: 2vh;
	vertical-align: top;
	width:12.45vw;
}
.liN{
	border-top: 1px solid #AEA48E;
	margin-top: 1vh;
	padding-top: 1vh;
}
.price{
	display: inline-block;
}
.finish-note{
	display: inline-block;
	margin: 0 auto 1vh auto;
	text-align: center;
}
footer{
	background-color: #233314;
	border-top: 1px solid #25371C;
	color: #bbbbbb;
	font-family: 'Josefin Slab', serif;
	line-height: 1.25;
	padding: 3vh 0;
	text-align: center;
}
.footer-text{
	font-size: 2em;
}
.background{
	background-color: #ead19f;
	background-image: url("../images/editedShop1-5.JPG");
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: -2;
}
#filter{
	background-color: #000000;
	display: inline-block;
	height: 100vh;
	opacity: 0.4;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: -1;
}
.gallery-img{
	display: none;
	height: 75vh;
	margin: 0 auto;
	position: fixed;
	top: 12.5vh;
	right: 0%;
	left: 0%;
	z-index: 3;
}
button{
	background-color: #5C8533;
	border-top: none;
	border-right: 3px solid #354C1D;
	border-bottom: 3px solid #354C1D;
	border-left: none;
	border-radius: 50px;
	display: none;
	font-family: 'Josefin Slab', serif;
	font-size: 2em;
	height: 100px;
	outline: none;
	position: fixed;
	top: 42vh;
	width: 100px;
	z-index: 3;
}
#previous{
	left: 10vw;
}
#next{
	right: 10vw;
}
button:active{
	border: 3px solid transparent;
}

@media only screen
and (min-width: 768px)
and (max-width: 1100px){

	.bio, .contact{
		height: auto;
		margin-left: 8.3vw;
		width: 50vw;
	}
	.lists{
		margin-bottom: 1vh;
		overflow: hidden;
		width: 25vw;
	}
	ul{
		padding-left: 3.5vw;
		width: 20vw;
	}
	button{
		height: 75px;
		width: 75px;
	}
	#previous{
		left: 5vw;
	}
	#next{
		right: 5vw;
	}
}
@media only screen
and (min-width: 320px)
and (max-width: 768px){
	.background{
		background-image: url("../images/editedShop2.jpg");
		background-position: center;
	}
	main{
		margin-top: 50vh;
	}
	.center-column, .bio, .contact, section, .img-gallery, .lists{
		height: auto;
		margin: 0;
		width: 100%;
	}
	.aside{
		display: inline-block;
		width: 100vw;
	}
	h3{
		height: 10vh;
		line-height: 10vh;
	}
	.img-gallery{
		height: auto;
	}
	p, ul{
		font-size: 1.25em;
	}
	p{
		padding: 4vh 4vw;
	}
	.img{
		height: 33vw;
		margin: 4vh auto 4vh 8.3vw;
		width: 33vw;
	}
	.head-stock, .jigged-bass{
		background-position: center;
	}
	.full-body-back, .back-underside{
		background-position: right;
	}
	ul{
		padding-right: 0;
		padding-left: 10vw;
		width: 80vw;
	}
	.bio, .contact, .img-gallery, .lists{
		border-bottom: 1px solid #c5b698;
		box-shadow: none;
	}
	.gallery-img{
		height: auto;
		top: 8vh;
		width: 55%;
	}
	button{
		height: 75px;
		top: 80vh;
		width: 75px;
	}
	#previous{
		left: 5vw;
	}
	#next{
		right: 5vw;
	}
}
