body{
	background-color: #999999;
}
.splash-screen{
	height: 100vh;
	background-color:#5C8533;
}
.container{
	background-color:#5C8533;
	height: 70vh;
	margin-bottom: 0px;
	padding-bottom: 0px;

/* still figuring out this box-shadow: 5px 5px 2px #262626; */

}
.banner-images{
	background-color:#5C8533;
	margin-bottom: 0px;
	padding-bottom: 0px;
	height: 70vh;
}
.banner-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 70vh;
	padding-bottom: 0px;
}
@media screen and (max-width: 900px){
	#b-img1, #b-img3{
		display: none;
	}
}
.header{
	background-color: #999999;
	color: #005C00;
	height: 30vh;
	font-size: large;
    font-family: 'Josefin Slab', serif;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
}
h1{
	text-align: center;
	font-size: 400%;
	text-shadow: 3px 3px #808080;
}
.info{
	padding-top: 4vh;
	margin-left: 18vw;
	margin-right: 13vw;
	font-size: 200%;
	height: 70vh;
}
h2{
	display: table-cell;
	text-align: center;
	width: 100vw;
}
.services{
	font-size: 80%;
	list-style-type: square;
}